<form class="{{cssClass}} nech-sheet flexcol" autocomplete="off">

  <!-- HEADER -->
  <header class="sheet-header">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "NECH.Name"}}"/>
    </h1>
  </header>

  <!-- BODY -->
  <section class="sheet-body tab">
    <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="tab biography">
      {{editor content=actor.data.details.description target="data.details.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
