<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  {{> "systems/nechronica/templates/actors/parts/npc-header.hbs"}}

  <hr>

  {{!-- Sheet Body --}}
  <div class="sheet-body {{#if (lookup this.hiddenElems "npc-header")}}small-header{{/if}}">
    {{> "systems/nechronica/templates/actors/parts/parts-ol.hbs"}}
  </div>

</form>
