@import "_grid.scss";
// Globals

$header-height: 320px;
$tab-height: 20px;
:root {
  --colorTan: #7a7971;
}

.hidden {
  display: none;
}

.small-img {
  flex: 0 0 64px;
  height: 64px !important;
  max-width: 64px;
}

.small-sheet-header {
  height: unset !important;
}

.small-header {
  height: calc(100% - 110px) !important;
  // overflow-y: auto;
}

.nech.sheet.actor.doll {
  .small-header {
    height: calc(100% - 120px) !important;
    overflow-y: unset;
  }
  .sheet-body {
    height: calc(100% - 300px);
  }
}

.circle-row {
  display: flex;
  flex-direction: row;
}

.circle {
  height: 9px;
  width: 9px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0px 2px 0px 2px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;

  &.black {
    background-color: black;
  }
}

.window-app .window-content {
  background: rgba(225, 225, 225, 1);
}

.chat-message {
  background: rgba(225, 225, 225, 1);
}

// Actors

.nech.sheet.actor {
  min-width: 700px;
  min-height: 800px;

  > .window-content {
    box-shadow: inset 0 0 10px #000000;
  }

  h3,
  h4 {
    font-weight: bold;
    margin: 0 0 0.25em;
  }

  .sheet-tabs {
    font-weight: bold;
  }

  .max-ap {
    white-space: nowrap;
    label {
      background: rgba(0, 0, 0, 0.1);
    }
    input {
      border-radius: 0;
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
  }

  &.horror,
  &.savant,
  &.legion {
    .sheet-header {
      height: $header-height;

      img {
        height: $header-height;
      }

      .description-group {
        flex: 1 0 180px;
      }

      .editor {
        height: 220px;
      }

      .threat {
        margin-right: 40px;
        margin-left: 15px;
      }
    }
  }

  .item-control:hover {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }

  form {
    overflow: hidden;
    height: 100%;
    padding: 2px;
    .sheet-header {
      max-height: fit-content;
    }
    .sheet-body {
      height: calc(100% - 340px);
    }
    .tab.active {
      height: 100%;
    }
    .parts-body {
      height: calc(100% - 30px);
      overflow-y: auto;
    }
    .bodyParts-all {
      height: calc(100% - 30px);
      overflow-y: auto;
    }
    .tab.biography.active {
      display: flex;
      flex-direction: column;
      height: 100%;
      .biography.body {
        height: calc(100% - 320px);
        overflow-y: auto;
      }
      .editor {
        height: calc(100% - 200px);
        overflow: visible;
        .editor-content {
          overflow-y: visible;
        }
      }
    }
  }
  .max-ap {
    input {
      max-width: 40px;
    }

    .form-fields {
      justify-content: center;
    }
  }
  .source {
    line-height: 18px;

    .attribute {
      text-align: center;
    }
  }
  .align-end {
    text-align: end;
  }
  .actor-details {
    max-width: 20%;
  }
  .position,
  .class {
    margin: 4px;
    background: rgba(0, 0, 0, 0.1);

    .name {
      .item-controls {
        flex: 0 1 36px;
        visibility: hidden;
      }
      &:hover {
        h4 {
          color: #000;
          text-shadow: 0 0 10px red;
          cursor: pointer;
        }
        .item-controls {
          visibility: visible;
        }
      }
    }
  }
  .experience {
    input {
      max-width: 24px;
    }
  }
  .fetters,
  .memories,
  .bodyParts-all,
  .locations {
    list-style: none;

    padding: 0 0 0 0.5em;

    h4 {
      margin-bottom: 1px;
    }
  }

  .fetters,
  .memories,
  .location {
    margin-right: 5px;
    margin-bottom: 5px;

    p {
      margin: 0;
    }
    .range,
    .cost,
    .number {
      flex: 0 0 40px;
      text-align: center;
    }

    .cost,
    .range {
      text-align: center;
    }

    .type {
      max-width: 150px;
      flex: 0 0 90px;
    }
    .madness {
      max-width: 90px;
    }

    .target,
    .name {
      flex: 0 0 120px;
    }

    .broken {
      margin: 0px;
      max-width: 25px;
    }
    .timing {
      flex: 0 0 75px;
      input {
        margin: 3px;
      }
    }
    .checkbox {
      max-width: 25px;
      display: flex;
      place-content: space-evenly;
    }

    .item {
      &.broken {
        background: red;
      }

      .target:hover,
      .name:hover {
        color: #000;
        text-shadow: 0 0 10px red;
        cursor: pointer;
      }
    }

    .item-controls {
      min-width: 48px;
      max-width: fit-content;
      display: flex;
      justify-content: flex-end;
      flex: 0 0 48px;
    }

    /*&:not(:first-child) {
      margin-top: 12px;
    }*/

    .rollable {
      flex: 0 0 50px;
      display: inline-block;
      background-size: 100%;
      height: 50px;
      place-self: flex-end;
      background-size: 44px 44px;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .rollable:hover {
      background-image: url(../../../icons/dice/d10black.svg) !important;
    }

    .location-header-details,
    .skill-header-details {
      padding-top: 13px;
      margin-left: 8px;

      .label {
        max-width: fit-content;
        max-width: max-content;
        margin-right: 10px;
      }

      .details {
        font-size: 10pt;
        line-height: 7px;
      }
    }

    .item-actions {
      flex: 0 0 56px;
      text-align: center;
    }

    .memory .details,
    .fetter .details {
      font-size: 10pt;
      line-height: 10px;
    }

    .fetter-list,
    .memory-list,
    .skill-list,
    .bodyParts.list {
      padding: 0px;
      margin: 0px;

      .details {
        //padding-left: 12px;
        line-height: 24px;
      }
      .details:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .details:not(:last-of-type) {
        border-bottom: 1px solid rgba(1, 1, 1, 0.3);
      }
      .fetter.details,
      .memory.details {
        padding-left: 0px;
      }

      .madness {
        display: flex;
      }

      .rollable {
        flex: 0 0 24px;
        display: inline-block;
        background-size: 100%;
        height: 24px;
        place-self: baseline;
      }
    }
  }

  .bodyPart {
    img {
      max-width: 24px;
    }
  }
  // .description-group {
  //   flex: 1 1 200px;
  // }
  // .editor {
  //   min-height: 200px;
  //   display: flex;
  //   flex-direction: column;
  // }
  // .tox.tox-tinymce {
  //   min-height: 100%;
  // }
  // .biography {
  //   .editor {
  //     flex: 1 1 100px;
  //     .editor-content {
  //       height: 100%;
  //       .tox-toolbar-overlord,
  //       .tox-toolbar__primary {
  //         background: none;
  //       }
  //       .tox-tinymce {
  //         min-height: 300px;
  //       }
  //     }
  //   }
  // }
}

// Items

.nech.sheet.item {
  min-width: 580px;
  min-height: 620px;
  max-height: calc(100% - 24px);

  .form-group {
    input {
      // max-width: 90px; // Revisit in proper styling update
    }
    button {
      max-width: 200px;
    }
  }

  .effect-group {
    min-height: 100px;
  }
  .description-group {
    min-height: 300px;
  }

  .editor,
  .editor-content {
    height: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
    .tox-tinymce {
      min-height: 300px;
    }
  }
}

.locked {
  .sheet-header {
    max-height: 70px;
  }
  img.sheet-profile {
    max-height: 360px;
    max-width: 240px;
    float: left;
  }
}

.radio-circles {
  float: right;
  //display: flex;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.radio-circles:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.radio-circles:not(:checked) > label {
  float: right;
  width: 1em;
  margin: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  height: 0.5em;
  width: 0.5em;
  border: 1px solid black;
  border-radius: 50%;
}

.radio-circles:not(:checked) > label:before {
}

.radio-circles > input:checked ~ label {
  background-color: black;
}

.modifier-control {
  min-width: 15px;
  max-width: fit-content;
  display: flex;
  justify-content: flex-end;
}
.modifier-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-card {
  font-style: normal;
  font-size: 14px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 28px;
    }
  }

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    .effect > *,
    .description > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .nech-damage-location,
  .roll-result {
    line-height: 30px;
    font-weight: bold;
  }

  .nech-damage-total {
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
    font-size: 20px;
    font-weight: bold;
  }

  .dice-roll .dice-total.success {
    color: blue;
  }
  .dice-roll .dice-total.critical {
    color: green;
  }
  .dice-roll .dice-total.failure,
  .dice-roll .dice-total.fumble {
    color: red;
  }

  .property-group {
    flex: 0 0 24px;

    /* Tags */
    .tag {
      display: inline-block;
      margin: 0 2px 1px 0;
      padding: 1px 3px;
      font-size: 12px;
      line-height: 16px;
      border: 1px solid #999;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.05);
      flex: 0 1 auto;
    }
  }
}
.token-tooltip-alt-tooltip-column {
  max-width: 40rem !important;
}
.token-tooltip-alt-tooltip-item {
  grid-template-columns: 0px auto !important;
  align-items: start !important;
  .fas {
    margin-top: 3px;
  }
  .nechronica {
    .tooltip-header {
      font-weight: bold;
    }
    dt {
      text-decoration: underline;
    }
    dd {
      line-height: 20px;
      padding-left: 0px;

      &.used {
        color: rgb(139, 0, 0);
        span {
          color: rgb(139, 0, 0);
        }
      }

      span {
        font-weight: bold;
        color: inherit;
      }
    }
    dd:not(:first-child) {
      margin-top: 3px;
    }
  }
}
.token-tooltip-alt-tooltip-container.default {
  background: rgb(225, 225, 225) !important;
}

// New stuff

// Show item controls on parent hover
span:hover .item-controls {
  visibility: visible;
}

.doll-content > .svelte-tabs {
  li.svelte-tabs__selected {
    border-bottom: 2px solid #782e22;
    text-shadow: 0 0 8px red;
    color: black;
  }
  li.svelte-tabs__tab:focus {
    outline: none;
  }
  ul {
    border-top: 1px solid #cccccc;
    margin-top: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
  }
}
