<form class="{{cssClass}}" flexcol autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "NECH.ItemName"}}"/>
      </h1>
    </div>
  </header>

  <div class="form-group">
    <label>{{localize "NECH.Armament"}}</label>
    <input name="data.armament" placeholder="{{localize "NECH.Armament"}}" value="{{data.armament}}" data-dtype="Number" type="number">
  </div>

  <div class="form-group">
    <label>{{localize "NECH.Mutation"}}</label>
    <input name="data.mutation" placeholder="{{localize "NECH.Mutation"}}" value="{{data.mutation}}" data-dtype="Number" type="number">
  </div>

  <div class="form-group">
    <label>{{localize "NECH.Enhancement"}}</label>
    <input name="data.enhancement" placeholder="{{localize "NECH.Enhancement"}}" value="{{data.enhancement}}" data-dtype="Number" type="number">
  </div>
  <hr>

  <section class="description-body">
    <h4>{{localize "NECH.Effect"}}</h4>
    <div class="description-group flexcol" data-group="description">
      {{nechRollEditor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </section>

</form>
