<div class="nechronica token-tooltip">
  <dt><i class="fas fa-{{header.icon.icon}}" style="color: {{header.icon.color}}"></i>  {{header.label}} – {{header.value}}/{{header.max}}
  </dt>
  {{#each list as |item key|}}
    <dd class="{{#if item.data.used}}used{{/if}}"><span>{{item.name}}</span> / {{lookup ../config.timings item.data.timing}} / {{item.data.range}} / {{item.data.cost}}
      {{#if item.data.effect}}: {{{item.data.effect}}}{{/if}}
  {{/each}}
</div>
