<div class="max-ap form-group">
  <div class="form-fields">
    <label><h4>{{localize "NECH.MaxAP"}}</h4></label>
    <input name="data.ap.max" value="{{actor.data.ap.max}}" data-dtype="Number" type="number" disabled>
  </div>
  <div class="form-fields">
    <label><h4>{{localize "NECH.APBonus"}}</h4></label>
    <input name="data.ap.bonus" value="{{actor.data.ap.bonus}}" data-dtype="Number" type="number">
  </div>
  <div class="form-fields">
    <label><h4>{{localize "NECH.CurrentAP"}}</h4></label>
    <input value="{{actor.data.ap.value}}" data-dtype="Number" type="number">
  </div>
  <div class="form-fields">
    <label><h4>{{localize "NECH.SpineCounter"}}</h4></label>
    <input value="{{actor.data.spineCounter.value}}" data-dtype="Number" type="number">
  </div>
</div>
