<div class="biography body">

  {{!-- Memory Fragments --}}
  <ul class="memories">
    <li>
      <div class="memory header flexcol" data-type="memory">
        <div class="label flexrow">
          <h4>{{localize "NECH.FragmentsOfMemory"}}</h4>
          <div class="item-controls">
            <a class="item-control item-add" title="{{localize "NECH.AddItem"}}" data-type="memory"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <div class="details flexrow">
          <div class="name">{{localize "NECH.Title"}}</div>
          <div class="number">{{localize "NECH.Number"}}</div>
          <div class="effect">{{localize "NECH.ContentOfMemory"}}</div>
          <div class="item-controls">
          </div>
        </div>
      </div>

      <ul class="memory-list item-list">
        {{#each actor.memories as |memory|}}
          <li class="memory item details flexrow" data-item-id="{{memory._id}}">
            {{!-- <div class="rollable" style="background-image: url({{memory.img}})" title="{{memory.name}}" width="24" height="24"></div> --}}
            <div class="name"><h4>{{memory.name}}</h4></div>
            <div class="number">{{memory.data.number}}</div>
            <div class="content">{{{memory.data.description}}}</div>
            {{#if ../isOwner}}
              <div class="item-controls">
                <a class="item-control item-edit" title="{{localize "NECH.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-duplicate" title="{{localize "NECH.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                <a class="item-control item-delete" title="{{localize "NECH.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ul>

    </li>
  </ul>

  {{!-- Fetters --}}

  <ul class="fetters">
    <li>
      <div class="fetter header flexcol" data-type="fetter">
        <div class="label flexrow">
          <h4>{{localize "NECH.Fetters"}}</h4>
          <div class="item-controls">
            <a class="item-control item-add" title="{{localize "NECH.AddItem"}}" data-type="fetter"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <div class="details flexrow">
          <div class="target">{{localize "NECH.Target"}}</div>
          <div class="type">{{localize "NECH.Type"}}</div>
          <div class="madness">{{localize "NECH.Madness"}}</div>
          <div class="effect">{{localize "NECH.Effect"}}</div>
          <div class="item-controls">
          </div>
        </div>
      </div>

      <ul class="fetter-list item-list">
        {{#each actor.fetters as |fetter|}}
          <li class="fetter item details flexrow" data-item-id="{{fetter._id}}">
            {{!-- <div class="rollable" style="background-image: url({{fetter.img}})" title="{{fetter.name}}" width="24" height="24"></div> --}}
            <div class="target"><h4>{{fetter.data.target}}</h4></div>
            {{!--<input class="target item-quick-edit" data-target="data.target" value="{{fetter.data.target}}">--}}
            <div class="type">{{fetter.data.type}}</div>
            <div class="circle-position madness">
              <div class="circle-row" data-target="item" data-item-target="data.madness">
                {{#each fetter.circles as |circle index|}}
                  {{#if circle.filled}}
                    <a class="circles" data-index={{index}}>
                      <div class="circle black"></div>
                    </a>
                  {{else}}
                    <a class="circles" data-index={{index}}>
                      <div class="circle"></div>
                    </a>
                  {{/if}}
                {{/each}}
              </div>
            </div>

            <div class="content">{{{fetter.data.effect}}}</div>
            {{#if ../isOwner}}
              <div class="item-controls">
                <a class="item-control item-edit" title="{{localize "NECH.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-duplicate" title="{{localize "NECH.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                <a class="item-control item-delete" title="{{localize "NECH.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ul>

    </li>
  </ul>

  <hr>
  {{!-- Biography Editor --}}
  {{nechRollEditor content=actor.data.details.description target="data.details.description" button=true owner=owner editable=editable}}
</div>
