<header class="sheet-header {{#if (lookup hiddenElems "npc-header")}}small-sheet-header{{/if}}">
  <div class="flexrow">
    <img src="{{actor.img}}" class="{{#if (lookup hiddenElems "npc-header")}}small-img{{/if}}" data-edit="img" title="{{actor.name}}">

    {{!-- Data and Biography --}}
    <div class="flexcol">
      <div class="flexrow">
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{name}}"></h1>
        <div class="hide-header flexrow" style="flex: 0 5 5%; align-items: center; margin-left: auto; text-align: right;">
          <label><a class="hide-show"><i class="fas fa-cogs"></i></a></label>
        </div>
      </div>
      <div class="form-group threat">
        <label>{{localize "NECH.Threat"}}</label>
        <div>{{actor.data.threat}}</div>
        {{#if (eq actor.type "legion")}}
          <label>{{localize "NECH.Remaining"}} </label>
          <input name="data.remaining" type="text" value="{{actor.data.remaining}}" placeholder="{{localize "NECH.Remaining"}}">
        {{/if}}
      </div>
      <div class="npc-header {{#if (lookup hiddenElems "npc-header")}}hidden{{/if}}">
        <div class="description-group flexcol" data-group="description">
          {{nechRollEditor content=actor.data.details.description target="data.details.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </div>
</header>
