{{!-- AP Management --}}
{{> "systems/nechronica/templates/actors/parts/ap-form.hbs"}}

<div class="parts-body">
  {{!-- BodyParts --}}

  <section class="bodyParts body">
    {{!-- Locations --}}
    <ul class="locations">

      {{!-- Skills --}}
      {{#if (eq actor.type "doll")}}
        <li class="location header" data-location="skills">
          <div class="skill-header flexrow">
            <div class="rollable"></div>
            <div class="skill-header-details flexcol">
              <div class="flexrow">
                <h3 class="label">{{localize "NECH.Skills"}}</h3>
                <div class="header-controls">
                  <a class="use-location"><i class="fas fa-user-clock"></i></a>
                </div>
                <div class="item-controls">
                  <a class="item-control item-add" title="{{localize "NECH.AddItem"}}" data-type="bodyPart" data-sub-type="skill"><i class="fas fa-plus"></i></a>
                </div>
              </div>
              <div class="details flexrow">
                <div class="name">{{localize "NECH.Name"}}</div>
                <div class="timing">{{localize "NECH.Timing"}}</div>
                <div class="checkbox"></div>
                <div class="cost">{{localize "NECH.Cost"}}</div>
                <div class="range">{{localize "NECH.Range"}}</div>
                <div class="effect">{{localize "NECH.Effect"}}</div>
                <div class="item-controls"></div>
              </div>
            </div>
          </div>
          <ul class="skill-list item-list">
            {{#each actor.skills as |skill|}}
              <li class="skill item details flexrow {{#if skill.data.used}}used{{/if}} {{#if skill.data.broken}}broken{{/if}}" data-item-id="{{skill._id}}">
                <div class="item-actions flexrow">
                  <a class="item-action check rollable" style="background-image: url({{skill.img}})" title="{{skill.name}}" width="24" height="24"></a>
                  <a class="item-action attack"><i class="fas fa-fist-raised"></i></a>
                  <a class="item-action chat"><i class="fas fa-comment"></i></a>
                </div>
                <div class="name"><h4>{{skill.name}}</h4></div>
                <div class="timing">{{localize (lookup ../config.timings skill.data.timing)}}</div>
                <div class="checkbox">
                  {{#if skill.showUsed}}
                    <div class="checkbox"><input class="item-quick-edit" type="checkbox" data-target="data.used" {{checked skill.data.used}}></div>
                  {{/if}}
                </div>
                <div class="cost">{{skill.data.cost}}</div>
                <div class="range">{{skill.data.range}}</div>
                <div class="effect">{{{ skill.data.effect}}}</div>

                {{#if ../isOwner}}
                  <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "NECH.EditItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-duplicate" title="{{localize "NECH.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                    <a class="item-control item-delete" title="{{localize "NECH.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                  </div>
                {{/if}}

              </li>
            {{/each}}
          </ul>
        </li>
      {{/if}}

      {{#each actor.bodyParts as |bodyPart|}}
        <li class="location header" data-location="{{@key}}" data-type="bodyPart">
          <div class="location-header flexrow">
            <div class="rollable" style="background-image: url(/systems/nechronica/icons/parts_{{@key}}.png)"></div>
            <div class="location-header-details flexcol">
              <div class="flexrow">
                <h3 class="label">{{localize label}}</h3>
                <div class="header-controls">
                  <a class="break-location"><i class="fas fa-user-slash"></i></a>
                  <a class="use-location"><i class="fas fa-user-clock"></i></a>
                </div>
                <div class="item-controls">
                  <a class="item-control item-add" title="{{localize "NECH.AddItem"}}" data-location="{{@key}}" data-type="bodyPart"><i class="fas fa-plus"></i></a>
                </div>
              </div>
              <div class="details flexrow">
                <div class="name">{{localize "NECH.Name"}}</div>
                <div class="broken"></div>
                <div class="timing">{{localize "NECH.Timing"}}</div>
                <div class="checkbox"></div>
                <div class="cost">{{localize "NECH.Cost"}}</div>
                <div class="range">{{localize "NECH.Range"}}</div>
                <div class="effect">{{localize "NECH.Effect"}}</div>
                <div class="item-controls"></div>
              </div>
            </div>
          </div>

          <ul class="bodyParts list item-list">
            {{#each parts as |part|}}
              <li class="bodyPart item details flexrow {{#if part.data.broken}}used{{/if}}" data-item-id="{{part._id}}">
                <div class="item-actions flexrow">
                  <a class="item-action check rollable" style="background-image: url({{part.img}})" title="{{part.name}}" width="24" height="24"></a>
                  <a class="item-action attack"><i class="fas fa-fist-raised"></i></a>
                  <a class="item-action chat"><i class="fas fa-comment"></i></a>
                </div>
                <div class="name"><h4>{{part.name}}</h4></div>
                <div class="broken checkbox">
                  <input class="item-quick-edit" type="checkbox" data-target="data.broken" title="{{localize "NECH.Broken"}}" {{checked part.data.broken}}>
                </div>
                <div class="timing flexrow">{{localize (lookup ../../config.timings part.data.timing)}}</div>
                <div class="checkbox">
                  {{#if part.showUsed}}
                    <input class="item-quick-edit" type="checkbox" data-target="data.used" title="{{localize "NECH.Used"}}" {{checked part.data.used}}>
                  {{/if}}
                </div>
                <div class="cost">{{part.data.cost}}</div>
                <div class="range">{{part.data.range}}</div>
                <div class="effect">{{{part.data.effect}}}</div>

                {{#if ../../isOwner}}
                  <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "NECH.EditItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-duplicate" title="{{localize "NECH.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                    <a class="item-control item-delete" title="{{localize "NECH.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                  </div>
                {{/if}}

              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </section>
</div>
