<script lang="typescript">
  import { slide } from "svelte/transition";
  import { sineIn, sineOut } from "svelte/easing";
  import { localize, getString } from "../module/lib/utils";
  import type NechronicaActorSheetV2 from "../module/actor/actor-sheet-v2";
  import type {
    NechronicaActorPreparedData,
    NechronicaDollPreparedData,
  } from "../module/actor/actor-prepared-data";
  import NechronicaItemControls from "./NechronicaItemControls.svelte";
  import NechronicaDollClass from "./NechronicaDollClass.svelte";
  import type { Attribute } from "../module/actor/actor-data";
  import { getContext } from "svelte";

  let sheetData = getContext("sheetStore");
  let { data, sheet, actorData, actor, config } = $sheetData;
  let attributeExperience: Record<Attribute, string> = {};
  let attributeTotals: Record<Attribute, string> = {};
  let bonusAttribute: Attribute = "mutation";
  let mainClass, subClass, position;
  $: {
    let { data, sheet, actorData, actor, config } = $sheetData;
    bonusAttribute = Object.entries(data.attributes).find(([key, value]) => value.bonus > 0)?.[0];
    mainClass = actor.items.find((i) => i.id === data.class) ?? null;
    subClass = actor.items.find((i) => i.id === data.subClass) ?? null;
    position = actor.items.find((i) => i.id === data.position) ?? null;

    // Preparation for reactive binding
    attributeTotals = Object.keys(config.attributes).reduce((totals, attribute) => {
      totals[attribute] = getString(data, `attributes.${attribute}.total`);
      return totals;
    }, {});
  }

  const setBonusAttribute = (key: Attribute) => {
    const updateData = Object.keys(config.attributes).reduce((updateData, attribute) => {
      setProperty(updateData, `data.attributes.${attribute}.bonus`, key == attribute ? 1 : 0);
      return updateData;
    }, {});
    actor.update(updateData);
  };

  // DragDrop handling
  const dragDrop = sheet._dragDrop.find((d) => d.dragSelector === ".item-list .item");
  const onDragStart = dragDrop?._handleDragStart.bind(dragDrop);
</script>

<!-- Component -->
<div
  class="form-group age-premonitions grid-2col"
  out:slide={{ delay: 300, duration: 50, easing: sineOut }}
  in:slide={{ duration: 50, easing: sineIn }}
>
  <span class="form-fields">
    <label class="flexrow item">
      <strong>{localize("Age")}</strong>
      <input name="data.details.age" value={data.details.age} type="text" />
    </label>
  </span>
  <span class="form-fields">
    <label class="flexrow item">
      <strong>{localize("Premonitions")}</strong>
      <input name="data.details.premonitions" value={data.details.premonitions} type="text" />
    </label>
  </span>
</div>

<div
  class="doll-details"
  in:slide={{ delay: 50, duration: 300, easing: sineOut }}
  out:slide={{ duration: 300, easing: sineIn }}
>
  <div class="flexcol">
    <!-- Position -->
    <div class="attributes" style="margin-bottom: 2px">
      <span
        class="flexrow item"
        data-item-id={position?.id ?? null}
        draggable={position != null}
        on:dragstart={position != null ? onDragStart : null}
      >
        {#if position != null}
          <strong class="name" on:contextmenu={sheet._onItemEdit(position.id)}>
            {position?.name}
          </strong>
        {:else}
          <span> – </span>
        {/if}
        <NechronicaItemControls type="position" item={position ?? null} />
      </span>
      <span class="attribute"><h4>{localize("ArmamentAbbrev")}</h4></span>
      <span class="attribute"><h4>{localize("MutationAbbrev")}</h4></span>
      <span class="attribute"><h4>{localize("EnhancementAbbrev")}</h4></span>
    </div>
    <NechronicaDollClass classItem={mainClass} />
    <NechronicaDollClass classItem={subClass} />
    <div class="attributes">
      <strong class="label">{localize("Bonus")}</strong>
      {#each Object.entries(config.attributes) as [key, value]}
        <input
          class="attribute"
          type="radio"
          bind:group={bonusAttribute}
          on:click|preventDefault={() => setBonusAttribute(key)}
          value={key}
        />
      {/each}
    </div>
    <div class="attributes">
      <strong class="label"> {localize("Experience")} </strong>
      {#each Object.keys(config.attributes) as key}
        <input
          class="attribute"
          type="number"
          data-dtype="Number"
          value={getString(data, `attributes.${key}.experience`)}
          name={`data.attributes.${key}.experience`}
        />
      {/each}
    </div>
    <div class="attributes">
      <strong class="label"> {localize("Total")} </strong>
      {#each Object.values(attributeTotals) as total}
        <strong class="attribute"> {total} </strong>
      {/each}
    </div>
  </div>

  <div class="flexcol side-details">
    <span class="form-group-stacked favour">
      <label>
        <strong> {localize("Favour")} </strong>
        <input
          name="data.details.experience"
          value={data.details.experience}
          data-dtype="Number"
          type="Number"
        />
      </label>
    </span>
    <span class="form-group-stacked placement">
      <strong> {localize("Placement")} </strong>
      {#each Object.entries(config.placements) as [key, value]}
        <span class="form-fields flexcol">
          <label class="checkbox">
            <input
              type="radio"
              name="data.placement"
              value={key}
              checked={data.placement === key}
            />
            {localize(`Placements.${key.capitalize()}`)}
          </label>
        </span>
      {/each}
    </span>
  </div>
</div>

<style lang="scss">
  .attributes {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(35px, 50px));
    line-height: 26px;
  }
  .name:hover {
    text-shadow: 0 0 8px red;
  }
  .attribute {
    justify-self: center;
    text-align: center;
  }
  input.attribute {
    max-width: 24px;
  }
  strong.label {
    margin-right: 0.25em;
    text-align: end;
  }
  .doll-details {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: 1fr 160px;
  }
  .side-details {
    padding-bottom: 5px;
  }
  .item {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 4px;
  }
  .favour:hover,
  .placement:hover,
  .item:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .favour,
  .placement {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
  }
  .favour {
    align-content: flex-end;
    padding: 0;
    flex: 1 1;
  }
  .favour strong {
    padding-left: 3px;
  }
  .placement {
    flex: 2 1;
  }
  .age-premonitions {
    display: grid;
    white-space: nowrap;
  }
  .form-fields {
    flex-direction: column;
    justify-content: center;
  }
  .form-fields > label {
    border-radius: 5px;
    padding: 0 0 0 4px;
  }
  .age-premonitions input {
    width: unset;
    max-width: 120px;
  }
</style>
