<script lang="typescript">
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import { getContext } from "svelte";
  import { fade } from "svelte/transition";
  import { localize, getString, getGame } from "../module/lib/utils";
  import type { Writable } from "svelte/store";
  import NechronicaItemControls from "./NechronicaItemControls.svelte";
  import NechronicaActorPart from "./NechronicaActorPart.svelte";
  import type { Location, NechronicaBodyPartData, PartType } from "../module/item/item-data";
  import type NechronicaItem from "../module/item/item-nech";

  const TextEditor = globalThis.TextEditor;
  const duplicate = globalThis.duplicate;
  //export let sheetData: NechronicaActorSheetData;
  let sheetData: SvelteStore<NechronicaActorSheetData> = getContext("sheetStore");
  let { actor, actorData, data, config, sheet } = $sheetData;
  let items = actor.items;
  let parts: NechronicaItem[] = items.filter((i) => i.type === "bodyPart");
  let filter: "" | "broken" | "used" = ""; //"

  interface LocationList {
    label: string;
    canBreak: Boolean;
    subType: PartType;
    items: NechronicaItem[];
    location: Location | null;
  }

  let locations: Record<Location | "skills", LocationList> = {}; //"
  if (["doll", "savant"].includes(actorData.type)) {
    if (actorData.type === "doll") {
      locations.skills = {
        label: localize("Skills"),
        canBreak: false,
        items: [],
        subType: "skill",
        location: null,
      };
    }
    for (const [location, label] of Object.entries(config.locations)) {
      locations[location] = {
        label: label,
        canBreak: true,
        items: [],
        location,
        subType: "bodyPart",
      };
    }
  } else
    locations.all = {
      label: localize("BodyParts"),
      canBreak: true,
      items: [],
      subType: "bodyPart",
      location: "head",
    };

  let filters = {
    broken: {
      func: (item: NechronicaItem): boolean => item.isBroken,
      active: false,
    },
    intact: {
      func: (item: NechronicaItem): boolean => !item.isBroken,
      active: false,
    },
    used: {
      func: (item: NechronicaItem): boolean => item.data.data.used,
      active: false,
    },
    usable: {
      func: (item: NechronicaItem): boolean =>
        item.isRepeatable || (!item.isRepeatable && !item.data.data.used),
      active: false,
    },
  };
  // Refreshes
  $: {
    //sheetData = sheetData ?? {};
    let { actor, actorData, data, config, sheet } = $sheetData;
    items = actor.items;
    parts = items.filter((i) => i.type === "bodyPart");
    parts = parts.filter((p) =>
      Object.values(filters)
        .filter((f) => f.active)
        .every((f) => f.func(p))
    );
    Object.entries(locations).forEach(([key, loc]) => {
      loc.items = parts
        .filter((p) => {
          const partData: NechronicaBodyPartData = p.data;
          if (key === "all") return true;
          else if (key === "skills") return partData.data.type === "skill";
          else if (actorData.type === "doll")
            return partData.data.type === "bodyPart" && partData.data.location === key;
          else return partData.data.location === key;
        })
        .sort((a, b) => (a.data.sort || 0) - (b.data.sort || 0));
    });
    locations = locations ?? {};
  }

  // TODO: Fix as part of keybinding rework
  let shiftPress = false;
  let shiftKeys = ["ShiftLeft", "ShiftRight"];
  const handleKey = (event) => {
    shiftPress = shiftKeys.some((k) => getGame().keyboard?.downKeys.has(k));
  };
</script>

<svelte:window on:keydown={handleKey} on:keyup={handleKey} />

<div class="locations" transition:fade>
  {#each Object.entries(locations) as [key, location]}
    <div class="location-block">
      <div class="category">
        <div class="location flexrow" data-location={key}>
          <h3 on:click={sheet._onHeaderRoll.bind(sheet)}>{location.label}</h3>
          <span class="location-controls">
            <!-- Break Location -->
            {#if location.canBreak}
              <a class="location-break" on:click={sheet._onLocationBreak.bind(sheet)}>
                {#if shiftPress}
                  <img src="/systems/nechronica/icons/amputation.svg" width="24" height="24" />
                {:else}
                  <img src="/systems/nechronica/icons/hand-bandage.svg" width="24" height="24" />
                {/if}
              </a>
            {/if}
            <a class="location-use" on:click={sheet._onLocationUse.bind(sheet)}>
              {#if shiftPress}
                <img src="/systems/nechronica/icons/battery-pack-alt.svg" width="24" height="24" />
              {:else}
                <img src="/systems/nechronica/icons/battery-pack.svg" width="24" height="24" />
              {/if}
            </a>
          </span>
        </div>
        <NechronicaItemControls
          type="bodyPart"
          subType={location.subType}
          location={location.location}
          visible={true}
        />
        <div class="location-grid notes">
          <span />
          <span>{localize("Name")}</span>
          <span
            on:click={() =>
              !shiftPress
                ? (filters.intact.active = !filters.intact.active)
                : (filters.usable.active = !filters.usable.active)}
          >
            {localize("State")}
          </span>
          <span>{localize("Timing")}</span>
          <span class="cost">{localize("Cost")}</span>
          <span class="range">{localize("Range")}</span>
          <span>{localize("Effect")}</span>
        </div>
      </div>
      <ul class="parts item-list items">
        {#each location.items as part}
          <NechronicaActorPart {part} />
        {/each}
      </ul>
    </div>
  {/each}
</div>

<style>
  .locations {
    overflow-y: scroll;
  }
  .category {
    display: grid;
    grid-template-columns: 1fr 48px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 0.3em;
    grid-template-areas:
      "location controls"
      "labeling labeling";
  }
  .category .location h3 {
    margin: 0;
  }
  .location {
    grid-area: location;
  }
  .location-controls {
    filter: sepia(0%) saturate(100%) hue-rotate(13deg) invert(100%) brightness(100%) contrast(100%);
    visibility: hidden;
  }
  .location:hover .location-controls {
    visibility: visible;
  }
  .location h3 {
    max-width: max-content;
    padding-right: 1em;
  }
  .location img {
    border: 0;
  }
  .location-grid {
    margin-left: -3px;
  }
  .cost,
  .range {
    text-align: center;
  }
  .location-block {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-right: 2px;
  }
  .location-block:not(:first-of-type) {
    margin-top: 1em;
  }
  :global(.location-grid) {
    display: grid;
    grid-template-columns: 56px 120px 52px 75px 40px 40px 1fr 48px;
    grid-area: labeling;
  }
  :global(.parts > .location-grid:hover) {
    background: rgba(0, 0, 0, 0.1);
  }
  :global(.parts > li:nth-child(odd)) {
    background: rgba(0, 0, 0, 0.05);
  }
  ul {
    margin: 0;
    padding: 0;
  }
</style>
