<script lang="typescript">
  import { getContext } from "svelte";
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import type NechronicaActorSheetV2 from "../module/actor/actor-sheet-v2";
  import type { NechronicaFetterData } from "../module/item/item-data";
  import NechronicaItem from "../module/item/item-nech";
  import NechronicaItemControls from "./NechronicaItemControls.svelte";
  import { addCircles } from "../module/lib/utils";

  const TextEditor = globalThis.TextEditor;
  const duplicate = globalThis.duplicate;
  let sheet: NechronicaActorSheetV2;
  let sheetData: NechronicaActorSheetData;
  const sheetStore = getContext("sheetStore");
  const sheetSub = sheetStore.subscribe((v) => {
    sheetData = v;
    sheet = v.sheet;
  });

  // DragDrop handling
  const dragDrop = sheet._dragDrop.find((d) => d.dragSelector === ".item-list .item");
  const onDragStart = dragDrop?._handleDragStart.bind(dragDrop);

  export let fetter: NechronicaItem;
  let data: Duplicated<NechronicaFetterData>;
  $: {
    fetter;
    data = duplicate(fetter.data);
    addCircles(data, 4, "data.madness");
  }

  const circleClick = (event) => {
    sheet._onCircleClick.call(sheet, event);
  };
</script>

<li class="fetter-grid item" data-item-id={fetter.id} on:dragstart={onDragStart} draggable="true">
  <strong
    class="target"
    on:contextmenu={sheet._onItemEdit(fetter.id)}
    on:click|preventDefault={fetter.roll({ rollType: RollType.MESSAGE })}
  >
    {data.data.target}
  </strong>
  <span class="type"> {data.data.type} </span>
  <span class="circle-row" data-target="item" data-item-target="data.madness">
    {#each data.circles as circle, index}
      {#if circle.filled}
        <a class="circles" data-index={index} on:click={circleClick}>
          <div class="circle black" />
        </a>
      {:else}
        <a class="circles" data-index={index} on:click={circleClick}>
          <div class="circle" />
        </a>
      {/if}
    {/each}
  </span>
  <span class="description">
    {@html TextEditor.enrichHTML(data.data.effect ?? "", { rollData: sheetData.rollData })}
  </span>
  <NechronicaItemControls item={fetter} type="fetter" visible={true} />
</li>

<style>
  .fetter-grid {
    display: grid;
    grid-template-columns: 130px 90px 90px 1fr 48px;
  }
  .description {
    align-self: center;
  }
  .fetter-grid:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .target {
    padding-left: 3px;
  }
  .target:hover {
    cursor: pointer;
    text-shadow: 0 0 8px red;
  }
</style>
