<script lang="typescript">
  // General imports
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import NechronicaPartsList from "./NechronicaPartsList.svelte";
  import { localize, getString } from "../module/lib/utils";
  import { fly } from "svelte/transition";
  import { quartIn, quartOut } from "svelte/easing";
  import { getContext } from "svelte";

  // tabs
  import Tabs from "./Tabs.svelte";
  import NechronicaApRow from "./NechronicaAPRow.svelte";
  import NechronicaEditor from "./NechronicaEditor.svelte";
  import NechronicaDollBiography from "./NechronicaDollBiography.svelte";
  import type { Writable } from "svelte/store";
  let items = {
    parts: "Parts",
    biography: "Biography",
    notes: "Notes",
  };
  Object.entries(items).forEach(([key, label]) => (items[key] = localize(label)));
  let activeItem = "parts";
  let previousItem = "";
  const tabChange = (e) => {
    previousItem = activeItem;
    activeItem = e.detail;
  };
  const direction = () => {
    const keys = Object.keys(items);
    const prevIndex = keys.indexOf(previousItem);
    const newIndex = keys.indexOf(activeItem);
    return prevIndex > newIndex ? 1 : -1;
  };

  let sheetData: Writable<NechronicaActorSheetData> = getContext("sheetStore");
  let { actor, actorData, data, sheet } = $sheetData;
  let height, bioHeight;
  $: {
    let { actor, actorData, data, sheet } = $sheetData;
    height = calcHeight();
    bioHeight = calcHeight(-10);
  }
  const calcHeight = (offset = 0) =>
    `max-height: calc(100% - ${$sheetData.hiddenElems.header ? 123 + offset : 315 + offset}px)`;
</script>

<!-- Content -->

<div class="doll-content">
  <Tabs {activeItem} {items} on:tabChange={tabChange} />
  {#if activeItem === "parts"}
    <div
      class="parts-content flexcol"
      out:fly={{ x: direction() * 800, opacity: 0.5, duration: 200, easing: quartIn }}
      in:fly={{ x: direction() * -800, delay: 200, duration: 200, easing: quartOut }}
      style={height}
    >
      <NechronicaApRow />
      <NechronicaPartsList />
    </div>
  {:else if activeItem === "biography"}
    <div
      class="biography"
      style={height}
      out:fly={{ x: direction() * 800, opacity: 0.5, duration: 200, easing: quartIn }}
      in:fly={{ x: direction() * -800, delay: 200, duration: 200, easing: quartOut }}
    >
      <NechronicaDollBiography />
    </div>
  {:else if activeItem === "notes"}
    <div
      class="actor-notes"
      style={height}
      out:fly={{ x: direction() * 800, opacity: 0.5, duration: 200, easing: quartIn }}
      in:fly={{ x: direction() * -800, delay: 200, duration: 200, easing: quartOut }}
    >
      <NechronicaEditor target="data.details.notes" />
    </div>
  {/if}
</div>

<style lang="scss">
  .doll-content {
    height: 100%;
  }
  .actor-notes,
  .biography {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parts-content,
  .biography,
  .actor-notes {
    transition: max-height 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
</style>
