<script lang="typescript">
  import { getContext } from "svelte";
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import type NechronicaActorSheetV2 from "../module/actor/actor-sheet-v2";
  import NechronicaItem from "../module/item/item-nech";
  import NechronicaItemControls from "./NechronicaItemControls.svelte";
  import { RollType } from "../module/config";

  const TextEditor = globalThis.TextEditor;
  let sheet: NechronicaActorSheetV2;
  let sheetData: NechronicaActorSheetData;
  const sheetStore = getContext("sheetStore");
  const sheetSub = sheetStore.subscribe((v) => {
    sheetData = v;
    sheet = v.sheet;
  });

  // DragDrop handling
  const dragDrop = sheet._dragDrop.find((d) => d.dragSelector === ".item-list .item");
  const onDragStart = dragDrop?._handleDragStart.bind(dragDrop);

  export let memory: NechronicaItem;
</script>

<li class="memory-grid item" data-item-id={memory.id} on:dragstart={onDragStart} draggable="true">
  <strong
    class="name"
    on:contextmenu={sheet._onItemEdit(memory.id)}
    on:click|preventDefault={memory.roll({ rollType: RollType.MESSAGE })}
  >
    {memory.name}
  </strong>
  <span class="number">{memory.data.data.number}</span>
  <span class="description">
    {@html TextEditor.enrichHTML(memory.data.data.description, { rollData: sheetData.rollData })}
  </span>
  <NechronicaItemControls item={memory.data} type="memory" visible={true} />
</li>

<style>
  .memory-grid {
    display: grid;
    grid-template-columns: 130px 60px minmax(400px, 1fr) 48px;
  }
  .memory-grid:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .name {
    padding-left: 3px;
  }
  .name:hover {
    cursor: pointer;
    text-shadow: 0 0 8px red;
  }
  .number {
    text-align: center;
  }
  .description {
    align-self: center;
  }
</style>
