<script lang="typescript">
  import NechronicaActorSheetV2 from "../module/actor/actor-sheet-v2";
  import type { ItemType, NechronicaItemData } from "../module/item/item-data";
  import { localize } from "../module/lib/utils";
  import { getContext } from "svelte";

  let sheet: NechronicaActorSheetV2;
  const sheetStore = getContext("sheetStore");
  const sheetSub = sheetStore.subscribe((v) => (sheet = v.sheet));
  export let item: NechronicaItem = null;
  export let type: ItemType = "";
  export let subType: string = null;
  export let location: Location = null;
  export let visible = false;
  const uniqueTypes: ItemType[] = ["class", "position"];
  $: id = item?.id ?? null;
  $: editHandler = sheet?._onItemEdit.bind(sheet, id);
</script>

<div class="item-controls" style="visibility: {visible ? 'visible' : ''};">
  {#if item == null && type !== ""}
    <a
      on:click={() => sheet?._onItemCreate({ type, subType, location })}
      title={localize("AddItem")}
    >
      <i class="fas fa-plus" />
    </a>
  {:else if item !== null && id !== null}
    <a on:click={editHandler} title={localize("EditItem")}><i class="fas fa-edit" /></a>
    {#if !uniqueTypes.some((t) => t === item.data?.type || t === item.type)}
      <a on:click={sheet?._duplicateItem.bind(sheet)} title={localize("DuplicateItem")}>
        <i class="fas fa-copy" />
      </a>
    {/if}
    <a on:click={sheet?._onItemDelete.bind(sheet)} title={localize("DeleteItem")}>
      <i class="fas fa-trash" />
    </a>
  {/if}
</div>

<style>
  .item-controls {
    display: flex;
    flex: 0 0 36px;
    visibility: hidden;
    line-height: 26px;
    margin-right: 2px;
    justify-content: space-evenly;
  }
</style>
