<script lang="typescript">
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import NechronicaEditor from "./NechronicaEditor.svelte";
  import { localize } from "../module/lib/utils";
  import NechronicaItemControls from "./NechronicaItemControls.svelte";
  import NechronicaActorMemory from "./NechronicaActorMemory.svelte";
  import NechronicaActorFetter from "./NechronicaActorFetter.svelte";
  import type { Writable } from "svelte/store";
  import { getContext } from "svelte";

  const TextEditor = globalThis.TextEditor;
  let sheetData: Writable<NechronicaActorSheetData> = getContext("sheetStore");
  let { actor, actorData, data, rollData, sheet } = $sheetData;
  let memories = actor.items.filter((i) => i.type === "memory");
  let fetters = actor.items.filter((i) => i.type === "fetter");
  $: {
    let { actor, actorData, data, rollData, sheet } = $sheetData;
    memories = actor.items
      .filter((i) => i.type === "memory")
      .sort((a, b) => (a.data.sort || 0) - (b.data.sort || 0));
    fetters = actor.items
      .filter((i) => i.type === "fetter")
      .sort((a, b) => (a.data.sort || 0) - (b.data.sort || 0));
  }
</script>

<div class="memory-block">
  <div class="category">
    <h3>{localize("FragmentsOfMemory")}</h3>
    <NechronicaItemControls type="memory" visible={true} />
    <span class="memory-grid notes">
      <span> {localize("Title")} </span>
      <span class="number"> {localize("Number")} </span>
      <span> {localize("ContentOfMemory")} </span>
    </span>
  </div>
  <ul class="memories item-list">
    {#each memories as memory}
      <NechronicaActorMemory {memory} />
    {/each}
  </ul>
</div>

<div class="fetter-block">
  <div class="category">
    <h3>{localize("Fetters")}</h3>
    <NechronicaItemControls type="fetter" visible={true} />
    <span class="fetter-grid notes">
      <span> {localize("Target")} </span>
      <span> {localize("Type")} </span>
      <span> {localize("Madness")} </span>
      <span> {localize("Effect")} </span>
    </span>
  </div>
  <ul class="fetters item-list">
    {#each fetters as fetter}
      <NechronicaActorFetter {fetter} />
    {/each}
  </ul>
</div>

<hr />

<NechronicaEditor target="data.details.biography" />

<style>
  .category {
    display: grid;
    grid-template-columns: 1fr 48px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 0.3em;
  }
  .memory-block,
  .fetter-block {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-right: 2px;
  }
  .fetter-block {
    margin-top: 1em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .memory-grid {
    display: grid;
    grid-template-columns: 130px 60px minmax(400px, 1fr);
  }
  .fetter-grid {
    display: grid;
    grid-template-columns: 130px 90px 90px 1fr;
  }
  .number {
    text-align: center;
  }
  :global(.memories > li:nth-child(odd)) {
    background: rgba(0, 0, 0, 0.05);
  }
  :global(.fetters > li:nth-child(odd)) {
    background: rgba(0, 0, 0, 0.05);
  }
  :global(.description > p:first-child) {
    margin-top: 0;
  }
  .notes {
    margin-top: -0.7em;
  }
</style>
