<script lang="typescript">
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import { localize } from "../module/lib/utils";
  import { getContext } from "svelte";
  import type { Writable } from "svelte/store";

  let sheetStore: Writable<NechronicaActorSheetData> = getContext("sheetStore");
  let data: NechronicaActorSheetData["data"];
  let actorType;
  $: data = $sheetStore.data;
  $: actorType = $sheetStore.actorData.type;
</script>

<div class="ap-form form-group">
  <div class="form-fields">
    <label>
      <strong>{localize("MaxAP")}</strong>
      <input name="data.ap.max" value={data.ap.max} data-dtype="Number" type="number" readonly />
    </label>
  </div>
  {#if actorType === "doll"}
    <div class="form-fields">
      <label>
        <strong>{localize("APBonus")}</strong>
        <input name="data.ap.bonus" value={data.ap.bonus} data-dtype="Number" type="number" />
      </label>
    </div>
  {/if}
  <div class="form-fields">
    <label>
      <strong>{localize("CurrentAP")}</strong>
      <input
        name="data.ap.value"
        value={data.ap.value}
        data-dtype="Number"
        type="number"
        readonly
      />
    </label>
  </div>
  <div class="form-fields">
    <label>
      <strong>{localize("SpineCounter")}</strong>
      <input
        name="data.spineCounter.value"
        value={data.spineCounter.value}
        data-dtype="Number"
        type="number"
      />
    </label>
  </div>
</div>

<style>
  .ap-form {
    white-space: nowrap;
    max-height: 26px;
  }
  .ap-form > .form-fields {
    justify-content: center;
  }
  .ap-form > .form-fields > label {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 0 0 4px;
  }
  .ap-form input {
    width: unset;
    max-width: 40px;
  }
  .form-fields > label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
</style>
