<script lang="typescript">
  import { slide } from "svelte/transition";
  import NechronicaActorSheetV2 from "../module/actor/actor-sheet-v2";
  import { localize } from "../module/lib/utils";
  import { getContext } from "svelte";

  // Component imports
  import NechronicaDollHeader from "./NechronicaDollHeader.svelte";
  import type { Writable } from "svelte/store";
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import NechronicaNpcHeader from "./NechronicaNPCHeader.svelte";

  let sheetData: Writable<NechronicaActorSheetData> = getContext("sheetStore");
  let { actor, data, actorData, sheet } = $sheetData;
  let smallHeader = $sheetData.hiddenElems.header;
  $: {
    let { actor, data, actorData, sheet } = $sheetData;
  }

  function toggleHeader() {
    $sheetData.hiddenElems.header = !$sheetData.hiddenElems.header;
    smallHeader = !smallHeader;
  }

  function rotateButton(node, { delay = 0, duration = 400 }) {
    return { delay, duration, css: (t) => `transform: rotate(${t / 90}deg)` };
  }

  /**
   * Opens a File Picker and updates the actor accordingly.
   */
  const filePicker = (event: MouseEvent) => {
    const attr: string = event.currentTarget.dataset.edit;
    const current: string = getProperty(actorData, attr);
    const fp = new FilePicker({
      type: "image",
      current: current,
      callback: (path) => {
        actor.update({ [attr]: path });
      },
      top: sheet.position.top + 40,
      left: sheet.position.left + 10,
    });
    return fp.browse();
  };
</script>

<div class="header">
  <div class="flexrow">
    <img
      src={$sheetData.actorData.img}
      data-edit="img"
      title={actor.name}
      alt={actor.name}
      style="height: {sheetData.hiddenElems?.header ? 64 : 256}px;"
      class:small-img={smallHeader}
      on:click={filePicker}
    />
    <div class="flexcol">
      <div class="flexrow name-row">
        <input
          class="actor-name"
          name="name"
          type="text"
          value={actor.name}
          placeholder={localize("Name")}
          title={localize("Name")}
        />
        <a on:click|preventDefault={toggleHeader} class:rotate={smallHeader}>
          <i class="fas fa-angle-double-down" />
        </a>
      </div>
      {#if !smallHeader}
        <div class="actor-header" transition:slide>
          {#if actorData.type === "doll"}
            <NechronicaDollHeader />
          {:else}
            <NechronicaNpcHeader />
          {/if}
        </div>
      {/if}
    </div>
  </div>
</div>

<style lang="scss">
  .header {
    max-height: 256px;
  }

  .name-row {
    max-height: 64px;
  }

  img {
    flex: 0 0 128px;
    margin-right: 6px;
    max-width: 128px;
    align-items: center;
    transition: all 0.4s ease-out;
    object-fit: cover;
  }

  .small-img {
    max-width: 64px;
    object-position: 50% 0;
  }

  a {
    font-size: 40px;
    align-self: center;
    flex: 0 5 40px;
    transition: all 400ms;
    text-align: center;
  }
  .rotate {
    transform: rotate(90deg);
  }

  input {
    margin: 5px 0;
  }

  .actor-name {
    height: 48px;
    line-height: 48px;
    margin: 8px 2%;
    width: 96%;
    font-size: 2em;
  }
</style>
