<script lang="ts">
  import { getContext } from "svelte";
  import { localize, getString } from "../module/lib/utils";
  import { slide } from "svelte/transition";
  import { sineIn, sineOut } from "svelte/easing";

  import type NechronicaActorSheetData from "../module/actor/actor-prepared-data.ts";
  import type { Writable } from "svelte/store";

  const TextEditor = globalThis.TextEditor;
  let sheetData: NechronicaActorSheetData = getContext("sheetStore");
  let threat, remaining, data;
  $: {
    data = $sheetData.data;
    threat = getString($sheetData.data, "threat");
    remaining = getString($sheetData.data, "remaining");
  }
</script>

<div
  class="npc-data form-group"
  out:slide={{ duration: 50, delay: 300, easing: sineOut }}
  in:slide={{ duration: 50, easing: sineIn }}
>
  <div class="form-fields">
    <label>
      <strong> {localize("Threat")} </strong>
      <input readonly type="number" value={threat} />
    </label>
  </div>

  {#if $sheetData.actorData.type === "legion"}
    <div class="form-fields">
      <label>
        <strong> {localize("Remaining")} </strong>
        <input type="number" name="data.remaining" value={remaining} />
      </label>
    </div>
  {/if}
</div>

<div
  class="description"
  in:slide={{ delay: 50, duration: 300, easing: sineOut }}
  out:slide={{ duration: 300, easing: sineIn }}
>
  {@html TextEditor.enrichHTML(data.details?.notes ?? "", { rollData: $sheetData.rollData })}
</div>

<style>
  /*
  TODO: Move into global style
  */
  .npc-data {
    white-space: nowrap;
    max-height: 26px;
  }
  .npc-data > .form-fields {
    justify-content: center;
  }
  .npc-data > .form-fields > label {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 0 0 4px;
  }
  .npc-data input {
    width: unset;
    max-width: 40px;
  }
  .form-fields > label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .description {
    height: 150px;
    overflow-y: auto;
    line-height: 24px;
  }
</style>
