<script>
  import { createEventDispatcher } from "svelte";
  let dispatch = createEventDispatcher();

  export let items;
  export let activeItem;
</script>

<div class="tabs">
  <ul>
    {#each Object.entries(items) as [item, label]}
      <li on:click={() => dispatch("tabChange", item)}>
        <div class:active={item === activeItem} class="tab">{label}</div>
      </li>
    {/each}
  </ul>
</div>

<style>
  .tabs {
    display: block;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
    font-weight: bold;
  }
  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-top: 2px solid #cccccc;
    margin-bottom: -7px;
    padding-left: 0;
  }
  li {
    flex: 1;
    margin: 5px 48px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
  }
  .active {
    border-bottom: 3px solid #782e22;
    text-shadow: 0 0 8px red;
  }
  .tab:hover {
    text-shadow: 0 0 8px red;
  }
</style>
