<div class="nech chat-card item-card" data-actor-id="{{actor.id}}" {{#if item._id}}data-item-id="{{item.id}}"{{/if}} {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
    {{#if item.name}}
      <h3 class="item-name">{{item.name}}</h3>
    {{else}}
      {{#if (eq item.type "fetter")}}
        <h3 class="item-name">{{item.data.target}}</h3>
      {{/if}}
    {{/if}}
  </header>
  {{#if (or data.effect data.description)}}
    <div class="card-content">
      {{#if data.effect}}<div class="effect">{{{data.effect}}}</div>{{/if}}
      {{#if data.description}}<div class="description {{#if data.effect}}hidden{{/if}}">{{{data.description}}}</div>{{/if}}
    </div>
    <hr>
  {{/if}}
  {{#if (or roll damageRoll)}}
      <div class="blindable" data-blind="{{data.roll.blindroll}}">
        <div class="chat-details flexrow">
          <div class="roll-result flexcol">
            <div>{{{result.type}}}</div>
            <div>{{{result.roll}}}</div>
          </div>
          {{#if roll}}<div class="nech-roll">{{{roll}}}</div>{{/if}}
        </div>
        {{#if damageRoll}}
          <hr>
          <div class="nech-damage flexrow">
            <div class="nech-damage-location">{{{result.location}}}</div>
            <div class="dice-roll">
              <div class="nech-damage-total dice-result">{{damage.total}}</div>
              <div class="dice-tooltip dice-formula">{{{damage.formula}}}</div>
            </div>
          </div>
        {{/if}}
        <hr>
      </div>
    {{/if}}
  <footer class="card-footer">
    {{#if data.props.length}}
      <div class="flexcol property-group gm-sensitive">
        <label>{{localize "NECH.Tags"}}</label>
        <div class="flexrow">
          {{#each data.props}}
            <span class="tag">{{{this}}}</span>
          {{/each}}
        </div>
      </div>
    {{/if}}
    {{#if data.extraProps.length}}
      <div class="flexcol property-group gm-sensitive">
        <label>{{localize "NECH.ModifierPlural"}}</label>
        <div class="flexrow">
          {{#each data.extraProps}}
            <span class="tag">{{{this}}}</span>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </footer>
</div>
